* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(rgb(1, 34, 54), rgb(0, 2, 3));
}

#header-title {
  font-size: 5em;
  text-align: center;
  color: rgb(238, 243, 224);
  text-transform: uppercase;
  margin: 30px 0;
}

/* footer */
#made-by {
  color: rgb(238, 243, 224);
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}

#made-by a:link {
  text-decoration: none;
  color: rgb(238, 243, 224);
}

a:visited {
  text-decoration: none;
  color: rgb(238, 243, 224);
}

/* main */
.form-sign-in {
  background-color: #02283f;
  margin: 0 auto;
  width: 35%;
  margin-bottom: 100px;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  box-shadow: 0 0 150px 30px rgba(0, 0, 0, 0.1) inset;
}

.form-sign-in .form-header {
  background-color: #066eaf;
  padding: 30px 0;
}

.form-sign-in #get-started-text {
  color: rgb(238, 243, 224);
  font-size: 1.2em;
  text-align: center;
}

.form-sign-in .inner-form-div {
  margin: 0 50px;
  padding: 50px 0;
}

.form-sign-in .inner-form-div #sign-up-div {
  display: flex;
  background-color: #066eaf;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-sign-in .inner-form-div #sign-in-div {
  display: flex;
  background-color: #066eaf;
  flex-direction: column;
  padding: 30px;
  /* margin-bottom: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-sign-in .inner-form-div .input-design {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: none;
  outline: none;
}

.form-sign-in .inner-form-div .input-design:focus {
  border: solid 1px lightblue;
}

.form-sign-in .inner-form-div .btn-design {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border-style: none;
  background-color: #02283f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
}

.form-sign-in .inner-form-div .btn-design:last-child {
  margin-bottom: 0;
}

.form-sign-in .inner-form-div #sign-in-div #sign-in-google {
  background-color: #ea4335;
}

/**************************
 Media queries
**************************/

/* Mobile */
@media only screen and (max-width: 500px) {
  #header-title {
    font-size: 2.3em;
    margin: 30px 0 40px 0;
  }
  .form-sign-in {
    width: 90%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    /* margin-bottom: 60px; */
  }

  .form-sign-in .form-header {
    background-color: #066eaf;
    padding: 15px 0;
  }

  .form-sign-in #get-started-text {
    font-size: 0.75em;
  }

  .form-sign-in .inner-form-div {
    margin: 0 20px;
    padding: 30px 0;
  }

  .form-sign-in .inner-form-div #sign-up-div,
  .form-sign-in .inner-form-div #sign-in-div {
    padding: 20px;
    margin-bottom: 30px;
  }

  .form-sign-in .inner-form-div #sign-in-div {
    margin-bottom: 0;
  }
}

/* Tablets (ipad etc.) */
@media (min-width: 501px) and (max-width: 768px) {
  #header-title {
    font-size: 3em;
  }
}
